@media screen and (max-width: 1600px) {
	.section {
		padding: 150px 0;
	}
}
// @media screen and (max-width: 1300px) {
// 	#eapps-instagram-feed-1 .eapps-instagram-feed-posts-slider-inner {
// 		margin: -15px !important;
// 		max-width: none !important;
// 	}
// }
@media screen and (max-width:1200px) {
	.section {
		&__title {
			font-size: 50px;
		}
	}
	.order-card {
		// width: 32%;
		margin-bottom: 25px;

		&__price {
			font-size: $fs16;
			line-height: 1.375;
		}
	}

	.stages-work {
		&-card {
			width: 23%;
			height: 350px;
		}
	}

	.about {
		&__title {
			font-size: 40px;
		}
	}
}
@media screen and (max-width: 1150px) {
	// .stages-work {
	// 	&__content {
	// 		grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	// 	}
	// }

	// .stages-work-card {
	// 	width: 100%;
	// 	// height: 400px;

	// 	img {
	// 		width: 100%;
	// 		height: 100%;
	// 		object-fit: cover;
	// 	}
	// }
	.contacts {
		&__line {
			margin-left: 30px;
			margin-right: 60px;
		}
	}
}
@media screen and (max-width:992px) {
	.header {
		&__inner {
			padding: 25px 0;
		}

		&__right {
			width: 437px;
		}
	}

	.intro {
		&__title {
			font-size: 72px;
			background-size: 241px;
		}
	}

	.scroll-elem {
		bottom: 25px;
	}

	// .order {
	// 	&__button-wrapper {
	// 		margin-top: 50px;
	// 	}
	// }

	.section {
		padding: 100px 0;

		&__info {
			margin-bottom: 50px;
		}

		&__title {
			max-width: 700px;
    		margin: 0 auto;
		}

		&__button-wrapper {
			margin-top: 50px;
		}
	}

	.instagram {

		// &__info {
		// 	margin-bottom: 40px;
		// }
	
		// &__button-wrapper {
		// 	margin-top: 40px;
		// }
	}

	.about {
		padding: 50px 0 !important;

		&__small-img, &__big-img {
			height: 350px;
		}
	}

	.reviews-swiper {
		&__content {
			max-width: 600px;
		}
	}
	

	.contacts {
		padding: 50px 0 100px;

		&-data, &-form {
			width: 50%;
		}

		// &__line {
		// 	margin-left: 30px;
    	// 	margin-right: 30px;
		// }
	}

	.footer {
		&__top {
			padding: 25px 0;
		}
	}
}
@media screen and (max-width: 840px) {
	.order-card {
		width: 50%;
		// max-width: none;

		&__img {
			width: 100%;
		}

		&__price {
			font-size: 18px;
			line-height: 1.375;
		}
	}

	.stages-work {
		&-card {
			width: 48%;
			height: 400px;

			margin-bottom: 50px;
		}
	}

	.about {
		&__right {
			
		}

		&__title {
			font-size: 30px;
		}

		&__small-img {
			display: none;
		}

		&__small-img, &__big-img {
			height: 400px;
		}

		.about__big-img {
			bottom: 50%;
			transform: translateY(+50%);
		}

		&__img-background {
			height: 500px;
		}
	}

	.contacts {
		&__line {
			margin-left: 30px;
    		margin-right: 30px;
		}
	}
}
@media screen and (max-width:768px) {
	.header {
		&__inner {
			align-items: center;
		}

		&__right {
			width: auto;
		}

		&__img {
		}

		&__phone {
			margin-top: 17px;
		}

		&__btn {
			display: none;
		}

		.reviews-swiper__content {
			max-width: 600px;
		}
	}

	.intro {
		&__title {
			font-size: $fs52;
			background-size: 172px;
		}

		&__subtitle {
			max-width: 440px;
		}
	}

	.section {
		&__title {
			font-size: 38px;
			max-width: 550px;
		}

		&__line-elements {
			margin: 30px auto;
		}
	}

	.about {
		&__title {
			font-size: 26px;
			margin-bottom: 30px;
		}
	}

	.reviews-swiper {
		&__content {
			max-width: 450px;
		}
	}

	.contacts {
		&__content {
			padding: 50px 15px;
		}

		&-data__item {
			margin-bottom: 30px;
		}

		// &-form__input {
		// 	margin-top: 30px;
		// }
	}

	.form {
		&__input {
			margin-top: 30px;
		}
	}
}
@media screen and (max-width:650px) {
	.intro {
		&__title {
			font-size: 42px;
			background-size: 140px;
		}

		&__subtitle {
			max-width: 340px;
		}
	}

	.scroll-elem {
		bottom: 20px;
	}

	/*---*/
	.order {
		&__content {
			// column-gap: 10px;
		}
	}

	.stages-work {
		&-card {
			height: 300px;
		}
	}

	.section {
		&__title {
			font-size: $fs32;
		}
	}

	.order-card {
		// width: 48.5%;

		&__price {
			font-size: $fs16;
			line-height: 1.375;
		}
	}

	.about {
		&__content {
			flex-direction: column;
		}
		
		&__left, &__right {
			width: 100%;
		}

		&__left {
			text-align: center;
			margin-right: 0;
			order: 1;
		}

		&__right {
			order: 0;
			margin-bottom: 50px;
		}

		&__title {
			max-width: 421px;
			margin: 0 auto 30px;
		}

		&__text {
			margin: 0 auto 50px;
		}

		&__small-img {
			display: block;
			top: 0;
		}

		// &__small-img, &__big-img {
		// 	height: 350px;
		// }

		&__big-img {
			top: 0% !important;
			transform: translateY(-0%) !important;
			top: 40px !important;
		}

		&__img-background {
			background-color: transparent;
			width: 100%;
			height: 440px;
		}
	}

	.reviews-swiper {
		&__content {
			max-width: 320px;
		}
	}
}
@media screen and (max-width:576px) {
	.header {
		&__inner {
			padding: 20px 0;
			// align-items: center;
		}

		&__right {
			width: auto;
		}
	}

	.intro {
		&__title {
			font-size: 38px;
			background-size: 124px;
		}

		&__subtitle {
			max-width: 256px;
		}
	}

	.section {
		&__btn {
			width: 100%;
		}
	}

	.order-card {
		width: 100%;
    	// max-width: none;
		margin-bottom: 40px;

		&__price {
			font-size: 18px;
		}
	}

	.about {
		&__button {
			width: 100%;
			padding: 15px 46px;
		}
	}

	.reviews-slide {
		&__text {
			margin-bottom: 30px;
		}
	}

	.contacts {
		&__content {
			flex-direction: column;
		}

		&-data, &-form {
			width: 100%;
		}

		&-form {
			order: 0;
			margin-bottom: 50px;

			&__btn {
				width: 100%;
			}
		}

		&-data {
			order: 1;
		}
	}

	.footer {
		&__top {
			padding: 20px 0;
			// align-items: center;
		}
	}
}

@media screen and (max-width:500px) {
	.about {
		&__small-img, &__big-img {
			height: 320px;
		}

		&__big-img {
			top: 30px !important;
		}

		&__img-background {
			height: 350px;
		}
	}

	.reviews-swiper {
		margin-bottom: 50px;

		&__wrapper {
			margin-bottom: 50px;
		}

		&__nav {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&__pagination {
			display: block;
			position: static;
		}

		&__button-next, &__button-prev {
			position: static;
			top: 0%;
			transform: translateY(0%);
			margin: 0;
		}
	}
}

@media screen and (max-width:480px) {
	body {
		overflow-x: hidden;
	}

	.logo {
		&__img {
			width: 182px;
			height: 40px;
			background-image: url(../img/logo-small.svg);
		}
	}
	
	.phone {
		@include textStyle($fs14, $fw400, 1.357, $ff_OpenSans, $white);
		margin-top: 15px;
	}

	.intro {
		&__inner {
			flex-direction: column;
			justify-content: center;
		}

		&__subtitle {
			margin-bottom: 30px;
		}

		&__social-media {
			position: static;
			flex-direction: row;

			a {
				&:first-child {
					margin: 0 20px 0 0;
				}
			}
		}
	}
	
	.section {
		&__title {
			max-width: 320px;
		}

		&__line-elements {
			max-width: 305px;
			height: 9px;
			&:before, &:after {
				width: 122px;
			}
			img {
				width: 10px;
			}
		}
	}

	.stages-work {
		&-card {
			width: 100%;
			height: 300px;
		}
	}

	.footer {
		&__copyright {
			@include textStyle(12px, $fw400, 1.333, $ff_OpenSans, $white);
		}
	}
}
@media screen and (max-width: 420px) {
	.order-card {
		&__price {
			font-size: $fs16;
		}
	}

	.about {
		&__small-img, &__big-img {
			height: 270px;
		}

		&__img-background {
			height: 300px;
		}
	}
}
@media screen and (max-width: 374px) {
	.logo {
		&__img {
			background-size: 100% 100%;
			width: 156px;
			height: 35px;
		}
	}
	
	.phone {
		margin-top: 14px;
	}

	.intro {
		&__title {
			font-size: 30px;
			background-size: 99px;
		}
	}

	.phone {
		font-size: 12px;
	}

	.scroll-elem {
		height: 46px;
		&__mouse {
			&:before {
				width: 15px;
				height: 22px;
			}

			&:after {
				left: 7px;
				height: 4px;
			}
		}

		&__arrow-btn {
			svg {
				width: 11px;
			}
		}
	}

	.section {
		&__title {
			font-size: 26px;
		}
	}

	.about {
		&__small-img, &__big-img {
			height: 243px;
		}

		&__img-background {
			height: 273px;
		}
	}
}
@media screen and (max-width:320px) {}




