$fs14: 14px;
$fs16: 16px;
$fs32: 32px;
$fs52: 52px;
$fs64: 64px;
$fs92: 92px;

$white: #fff;
// $white: rgb(255, 255, 255);

$yellow_light: #FFBE0B;
$yellow_dark: #E5A800;
$black: #000;
$black-blue_light: #171719;
$black-blue_dark: #131314;

$fw400: 400;
$fw600: 600;

$ff_OpenSans: 'Open Sans', sans-serif;
$ff_Oranienbaum: 'Oranienbaum', serif;